@import "ultis/mixins";

// Since the inner width will always be maximum of 1564px for larger screen size.
$max-inner-width: 1574px;

.banner__container {
  background: url("/assets/images/banner_background.svg") no-repeat center/cover;
  height: 100vh;
  margin: auto;
  min-height: 100vh;
  position: relative;
  width: 100%;

  .banner__contents {
    height: 100%;
    margin: auto;
    max-width: $max-inner-width;
    width: 100%;

  }

  .textBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    margin: auto;
    max-width: $max-inner-width;
    width: calc(100vw - 4rem);
  }

  .textBlock__new {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    row-gap: 1rem;
  }

  .textBlock__arrival {
    background: url("https://raw.githubusercontent.com/sonphan18071999/tymex-interview-frontend-sonphan/refs/heads/main/nextjs-landing-page-sonphan/public/assets/images/arrival-icon.svg") no-repeat center/contain;
    content: "";
    grid-column: 2/4;
    grid-row: 2/3;
    inset: 0;
    transform: translate(1.25rem, -1.25rem);
  }

  .textBlock__shopNowBtn {
    background: url("/assets/images/shop_now_btn.svg") no-repeat center/contain;
    font-size: 3.5vw;
    padding: 2vh 6vw;
  }

  .textBlock__newTag__image {
    transform: translate(-1rem, 0.5rem);
  }

  .footer__background {
    background: url("https://raw.githubusercontent.com/sonphan18071999/tymex-interview-frontend-sonphan/refs/heads/main/nextjs-landing-page-sonphan/public/assets/images/banner-footer-bg.svg") no-repeat;
    background-size: cover;
    bottom: 0;
    height: 35vh;
    max-height: 300px;
    position: absolute;
    width: 100%;
    z-index: 0;
  }


  .characters__contents {
    bottom: 0;
    max-height: 35vh;
    max-width: 50vw;
    padding: 0 1rem;
    position: absolute;
    width: 100%;
  }

  .characters__contents::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
  }

  .character_item {
    padding: 0 1rem;
  }


  .highlight__character {
    align-self: end;
    background: url("https://raw.githubusercontent.com/sonphan18071999/tymex-interview-frontend-sonphan/refs/heads/main/nextjs-landing-page-sonphan/public/assets/images/the-dj.svg") no-repeat bottom right /contain;
    grid-column: 2/5;
    grid-row: 4 / 5;
    height: 100%;
    z-index: 1;
  }


  @include respond-to("sm") {
    .character_item {
      display: none !important;
    }

    .highlight__character {
      grid-row: 3/5;
    }
  }

  @include respond-to("md") {
    .textBlock__shopNowBtn {
      font-size: 1.5vw;
      padding: 4vh 7vw;
    }
  }

  @include respond-to("lg") {
    .highlight__character {
      grid-column: 2/5;
      grid-row: 2/5;
    }
  }

  @include respond-to("xl") {
    .textBlock__shopNowBtn {
      margin-right: 3rem;
    }
  }
}
