@import "ultis/mixins";

$max-inner-width: 1574px;

.market__container {
  position: relative;
  column-gap: 2rem;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: $max-inner-width;
  width: 100%;

  .add_to_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    width: 100%;
  }

  .market__items {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
  }

  .ant-select-selector {
    background-color: transparent !important;
  }

  .NFT__card {
    background-color: #3A3841;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    max-width: 425px;
    padding: 0.5rem;
    width: 100%;
  }


  .picture__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    position: relative;
    z-index: 1;
  }

  .header__primary_button {
    background-color: rgb(49 59 69 / 50%);
    border: none;
    color: white;
    font-size: 12px;
    padding: 4px 12px;
  }

  .header__heart_button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;

  }

  .header__heart_button:hover, .header__heart_button_active {
    background-color: transparent !important;
    color: red !important;
  }


  .NFT__picture {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    height: auto;
    position: relative;

  }

  .NFT__details {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  text, p, label, .ant-typography {
    color: white !important;
  }

  .details__header {
    align-items: center;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .details__price {
    align-items: center;
    column-gap: 0.2rem;
    display: flex;
  }

  .author {
    align-items: center;
    column-gap: 0.5rem;
    display: flex;
  }

  .character {
    transform-origin: bottom;
  }

  .character:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
  }


  @include respond-to("xxxs") {
    margin: auto;
    overflow: hidden;
    row-gap: 1rem;
    width: calc(100vw - 2rem);


    .NFT__picture {
      min-height: 10rem;
    }
  }

  @include respond-to("xxs") {
    .NFT__picture {
      min-height: clamp(10rem, 40vw, 15rem);
    }
  }

  @include respond-to('sm') {
    flex-direction: row;
  }
}
