@import "../ultis/mixins";

$max-inner-width: 1574px;

.footer {
  background-color: #17161A;
  height: auto;
  min-height: 20rem;
  width: 100%;

  .footer__contents {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: $max-inner-width;
    width: 100%;
  }

  @include respond-to('xxxs') {
    .footer__contents {
      grid-template-columns: 1fr;
    }
  }
}
