@import "../ultis/mixins";

.filter__form {
  @include respond-to('xxxs') {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
  }

  .action__buttons {
    display: flex;
    justify-content: space-between;
  }

  .search__input {
    background-color: transparent;
    border: 1px solid #3A3841;
    color: white;
  }

  .search__input input::placeholder {
    color: rgb(255 255 255 / 70%) !important;
    opacity: 1 !important;
  }

  .search__icon {
    color: gray;
  }

  .select__input {
    background-color: transparent !important;
  }

  @include respond-to('sm') {
    width: clamp(15vw, 30vw, 23.25rem);
  }

  @include respond-to('lg') {
    max-width: 23.25rem;
    width: 30vw;
  }
}
