@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fff;
    --foreground: #171717;
    --ant-input-color: gray;
    --ant-input-placeholder-color: lightgray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: DroneRangerPro;
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/dronerangerpro_bold.otf') format('opentype');
}

body {
    background-image: url("/assets/images/background.svg");
    background-size: cover;

    /* color: var(--foreground); */

    /* background: var(--background); */
    font-family: DroneRangerPro, Arial, Helvetica, sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}


.ant-select-selector {
    background-color: transparent !important;
    border: 1px solid #3A3841 !important;
}

.ant-select-selection-wrap {
    color: white;
}

.secondary-btn {
    background: linear-gradient(to right, rgb(218 69 143 / 40%), rgb(218 52 221 / 40%));
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.secondary-btn:hover, .secondary-active-btn {
    background: linear-gradient(to right, rgb(218 69 143 / 100%), rgb(218 52 221 / 100%)) !important;
    font-size: 1.125rem;
    color: white !important;
}

.primary-btn {
    background: linear-gradient(to right, rgb(218 69 143 / 100%), rgb(218 52 221 / 100%));
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
    background: linear-gradient(to right, rgb(218 69 143 / 40%), rgb(218 52 221 / 40%)) !important;
    color: white !important;
}

.ant-slider-rail {
    background-color: #3A3841 !important;
}

.ant-slider-track {
    background: linear-gradient(90deg, #DA458F 1%, #DA41A2 24%, #DA37CE 81%, #DA34DD 100%);
}


.ant-slider-handle-1::after {
    background: radial-gradient(circle, rgb(255 0 255 / 100%), rgb(0 0 0 / 80%)) !important;
    box-shadow: 0 0 0 1px white !important;
    outline: none;
}

.ant-slider-handle-2::after {
    background: radial-gradient(circle, rgb(255 0 255 / 100%), rgb(0 0 0 / 80%));
    box-shadow: 0 0 0 1px white !important;
    outline: none;
}

.linear-swiper {
    transition-timing-function: linear !important;
}
