@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: 'DroneRangerPro';
    src: url('/assets/fonts/dronerangerpro_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*color: var(--foreground);*/
    /*background: var(--background);*/
    font-family: 'DroneRangerPro', Arial, Helvetica, sans-serif;
    background-image: url("/assets/images/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.ant-select-selector {
    background-color: transparent !important;
    border: 1px solid #3A3841 !important;
}

.ant-select-selection-wrap {
    color: white;
}

.secondary-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, rgba(218, 69, 143, 0.4), rgba(218, 52, 221, 0.4));
}

.secondary-btn:hover, .secondary-active-btn {
    background: linear-gradient(to right, rgba(218, 69, 143, 1), rgba(218, 52, 221, 1)) !important;
    font-size: 1.125rem;
}
