.banner__container {
  display: flex;
  flex-direction: column;
  height: 54.15rem;
  align-items: center;

  .highlight__text {
    display: flex;
    width: calc(100% - 10rem);

    .new__container {
      width: calc(0.3 * 100%);
      max-width: 30rem;
      overflow: hidden;
      height: 25rem;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      .new_tag {
        width: auto;
        height: 10rem;
        background: url("/assets/images/new__tag.svg") no-repeat right/contain;
      }

      .shop_now_btn {
        position: relative;
        top: -1.5rem;
        right: 2.5rem;
        width: 100%;
        height: 3rem;
        background: url("/assets/images/shop_now_btn.svg") no-repeat right/contain;
      }
    }

  }


  .arrival {
    position: relative;
    width: 100%;
    height: 16.68rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: url("/assets/images/arrival-back-drop.svg") no-repeat left/contain;
      opacity: 0.6;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      transform: translate(-20px, 20px);
      background: url("/assets/images/arrival.svg") no-repeat left/contain;
    }
  }


  .characters {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15.75rem;
    background: url("/assets/images/banner-footer-bg.svg") no-repeat center/cover;
    display: flex;
    align-items: center;
    z-index: -2;

    .top_characters {
      display: flex;
      width: calc(100% - 10rem);
      margin: auto;
      column-gap: 3rem;
    }

    .top_character {
      position: absolute;
      bottom: 0;
      right: 2rem;
      width: 25rem;
      height: 30rem;
      background: url("/assets/images/the-dj.svg") no-repeat center/contain;
    }

    .character {
      width: 12.5rem;
      height: 10.5rem;
      background: url("/assets/images/character-back-drop.svg") no-repeat center/cover;
      position: relative;
      border: 1px solid #FBC625;

      &::before {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: -1rem;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -1;
      }
    }
  }
}
